<!-- We want to use the posts model so we need to include it.-->
@using BlogApplication.Models.Posts
<!-- We want to set the model the our index view model which will be used to get the data. -->
@model BlogApplication.Models.IndexViewModel
<!-- We can set the layout and view data here -->
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/css/home.css" />
}

<!-- Main headline introduction container -->
<div class="container">
    <h1 class="display-4">Welcome to my Blog Application.</h1>
    <p>This was used as a learning base for ASP.net after specialising in PHP for a long period of time. I hope you can learn a thing or two from this or even use it as a blog base!</p>
</div>

<!-- Blog Posts container -->
<div class="py-5">
    <header class="section-header">
        <h2>Blog Posts</h2>
    </header>

    <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
            @foreach (Post post in @Model.Posts)
            {
                <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img">

                        <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759872/kuldar-kalvik-799168-unsplash.jpg" alt="">
                    </div>
                    <div class="blog-slider__content">
                        <span class="blog-slider__code">26 December 2019</span>
                        <div class="blog-slider__title">@post.Title</div>
                        <div class="blog-slider__text">@post.Description</div>
                        <a href="/blog/@post.UrlSlug" class="blog-slider__button">READ MORE</a>
                    </div>
                </div>
            }
            <div class="blog-slider__pagination"></div>
        </div>
    </div>
</div>