h1 {
    margin-bottom: 0px;
}

/*
    This is for the modified date.
*/
.modified-date {
    font-size: 11px;
    color: grey;
    margin-left: 5px;
}

/*
    Column Spacings
*/
.col-md-5{
    float:left;
    margin: 0;
}
.col-md-7{
    float:left;
    margin: 0;
}

/*
    This is for all the blog content styling
*/
.content > img {
    width: 100%;
}
